# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Sphinx documentation
docs/_build/

# Python virtual environment
.venv

# Visual studio config files
*.code-workspace
.vscode

# Data
data/*
!data/.gitkeep

# Notebooks
notebooks/playground.ipynb

# Notes
notes/*

# Hydra config runs
outputs